@model IEnumerable<CosmosMusic.Models.Artists>

@{
    ViewBag.Title = "Browse Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browsing Genre: @Request.Params["genre"]</h2>
<br />
<script>


</script>


<div class="music">
    <ul>
@foreach (var artist in Model)
{
 <!--   <li>@Html.ActionLink(artist.name, "Albums", new { artist = artist.artist_id.ToString()} )</li> -->
    <li><a href="@Url.Action("Albums","Music", new { @id = artist.artist_id.ToString()} )">@artist.name</a></li>
}
        </ul>
    </div>


