@model IEnumerable<CosmosMusic.Models.Albums>

@{
    ViewBag.Title = "Index";
}
@Html.Raw("<script>$(document).ready(function() {");

@Html.Raw("}</script>");


<h2>Last added albums:</h2>

@foreach (var album in Model)
{
    <p>
    <a href="@Url.Action("AlbumDetail","Music", new { @id = album.album_id.ToString()} )"><img src="\Content\Uploads\@album.cover" onError="this.onerror=null;this.src='/Content/Images/default_cover.png';" alt="Edit" style="width: 500px; height: 500px;"/></a>
    </p>
}


