html
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;
    background-color: gray; 
    font-size: 10pt;
    line-height: 1.6em;
}

#container
{
    position: relative;
    min-height: 100%;
    width: 950px;
    min-width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding-top: -16px;
    text-align: center;
}


#header
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
}

#banner
{
    width: 950px;
}

#hormenu
{
    height: 10%;
    width: 950px;
}

#hormenu ul
{
    margin: 0;
    padding: 0;
    float: left;
}

#hormenu ul li
{
    display: inline;
}

#hormenu ul li a
{
    background-color: black;
    float: left;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;

}
#hormenu ul li a:visited
{
    background-color: black;
    float: left;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;

}

#hormenu ul li a:hover
{
    background-color: black;
    float: left;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
}

#content
{
    height: 70%;
    width: 950px;
    background-color: white;
    text-align: center;
    color: black;
    /*margin-bottom: -20px;*/
}

#footer
{
    color: white;
    background-color: black;
    height: 10%;
    width: 950px;
    
}

#content h1, h2, h3, h4, h5, h6
{
    color: black;
    text-align: center;
}

#content .music
{
    /*background-color:rgba(255,0,0,0.5);*/
    margin-left: auto;
    margin-right: auto;
    border-radius : 3px;
    border: solid 2px black;
    width: 60%;
    height: auto;
    text-align: center;
    position: relative;
    background-color: white;

}

#content .music li{
    list-style: none;
}

/* Styles for basic forms */

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


